<!DOCTYPE html>
<html>
  <head>
    <title>Reactive Stack</title>
    <%- include('header'); -%>
  </head>
  <body>

  <div class="container-fluid text-center mt-5">
   <h4>Product</h4>
   <form method="post" action="/product">

       <div class="form-group">
           <label>Name
               <input type="text" class="form-control" name="name" value="<%= product.name %>" disabled>
           </label>
       </div>

       <div class="form-group">
           <label>Price
               <input type="number" class="form-control" name="price" value="<%= product.price %>" disabled>
           </label>
       </div>

       <button type="submit" class="btn btn-success">Edit</button>
   </form>
   <br>
   <p>Back to <a href="/">Home</a>.</p>
   </div>

<%- include('footer'); -%>
  </body>
</html>
